<!-- <app-binding-assignment></app-binding-assignment> -->
<app-header (changeComponent)='onNavigate($event)'></app-header>
<div class="container-fluid">
    <div class="col-md-12">
        <div *ngIf="curComponent === 'Recipe';else other">
            <app-recipe></app-recipe>
        </div>
        <ng-template #other><app-shopping></app-shopping></ng-template>
    </div>
</div>
<!-- <div class="container">
    <app-services-assignment></app-services-assignment>
</div> -->
<!-- <div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <app-server></app-server>
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
        </div>
    </div>
</div> -->